#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.productImg {
  width: 150px;
  height: 175px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #e0e0e0;

}

.productWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background-color: rgb(228, 228, 228);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 5px 5px 5px #e0e0e0;
}

.productsWrapper {
  display: grid;
  grid-template: repeat(3,1fr) / repeat(3,1fr);
  gap: 15px;
}

.numInput {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: white;
  border-radius: 10px;
  padding-left: 10px;
}

.increaseDecrease {
  display: flex;
  flex-direction: column;
}
  
.increaseDecrease button {
  padding: 0;
}

.price {
  font-weight: bold;
}

.form-input {
  width: 1.25em;
  border: none;
}